<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </mat-drawer>
    <div class="example-sidenav-content">
        <!-- <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button> -->
        @if (templateName=="first") {
        <app-first-template></app-first-template>
        }@else if(templateName=="second") {
        <app-second-template></app-second-template>
        }@else if(templateName=="third") {
        <app-third-template></app-third-template>
        }@else {
        <app-fourth-template></app-fourth-template>
        }
    </div>
</mat-drawer-container>