<div class="main-container">
    <div class="first-container">
        <mat-toolbar style="background-color: white;">
            <span class="example-spacer-one"></span>
            @if (currentUser?.name) {
            <span class="name" id="name">{{currentUser?.name || "Buddy"}}</span>
            }
            @else {
            <span class="default-about-content">Buddy</span>
            }
            <span class="example-spacer"></span>
            <div class="header-title">
                <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                    fragment="about">About</a>
                <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                    fragment="experience">Experience</a>
                <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                    fragment="projects">Projects</a>
                <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                    fragment="contact">Contact</a>
            </div>
            <div class="header-title-phone">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu style="background-color: white;" #menu="matMenu">
                    <button mat-menu-item>
                        <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                            fragment="about">About</a>
                    </button>
                    <button mat-menu-item>
                        <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                            fragment="experience">Experience</a>
                    </button>
                    <button mat-menu-item>
                        <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                            fragment="projects">Projects</a>
                    </button>
                    <button mat-menu-item>
                        <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                            fragment="contact">Contact</a>
                    </button>
                </mat-menu>

            </div>
        </mat-toolbar>
    </div>
    <div class="second-main-container">
        <div class="second-container">
            <div>
                <img class="profile-image" [src]="'assets/images/' + currentUser?.profileImageUrl + '.jpg'"
                    (error)="onImageError($event , 'defaultProfile')" alt="Profile Image">
            </div>
            <div class="second-intro-container">
                <div class="intro-titles">
                    <span class="greeting-title">{{currentUser?.greeting || "Hello, I'm"}}</span>
                </div>
                <div class="intro-titles">
                    @if (currentUser?.name) {
                    <span class="name-title">{{currentUser?.name}}</span>
                    }
                    @else {
                    <span class="default-about-content">Buddy</span>
                    }
                </div>
                <div class="intro-titles">
                    @if (currentUser?.role) {
                    <span class="role-title">{{currentUser?.role}}</span>
                    }@else {
                    <span class="default-about-content">Add Your Role..</span>
                    }
                </div>
                <div class="intro-buttons">
                    <a mat-stroked-button [ngClass]="currentUser?.resumeLink ? 'icon-sec': 'icon-disable'"
                        [href]="currentUser?.resumeLink" target="_blank" class="custom-button">Download
                        CV</a>
                    <a class="contact-custom-button" mat-flat-button [routerLink]="['/portfolio', userName, 'second']"
                        fragment="contact">Contact Info</a>
                </div>
                <div class="intro-icons-sec">
                    <span><a [ngClass]="currentUser?.linkedInUrl ? 'icon-sec': 'icon-disable'"
                            [href]="currentUser?.linkedInUrl" target="_blank">
                            <i class="fab fa-linkedin icon-img intro-icons"></i>
                        </a>
                    </span>
                    <span><a [ngClass]="currentUser?.githubUrl ? 'icon-sec': 'icon-disable'"
                            [href]="currentUser?.githubUrl" target="_blank">
                            <i class="fab fa-github icon-img intro-icons" intro-icons></i>
                        </a>
                    </span>
                </div>
            </div>

        </div>
    </div>

    <section id="about" #aboutSection class="about-container">
        <div class="about-first-sec">
            <span>Get To Know More</span>
        </div>
        <div class="about-second-sec">
            <span>About Me</span>
        </div>
        <div class="about-third-sec">
            <div class="about-img-sec">
                <img class="about-image" [src]="'assets/images/' + currentUser?.aboutImageUrl + '.jpg'"
                    (error)="onImageError($event , 'default-about')" alt="Profile Image">
            </div>
            <div class="about-content-sec">
                <div class="about-sub-cont-sec">
                    <div class="about-first-sub-cont-sec">
                        <i class="fas fa-briefcase icon-img intro-icons"></i><br>
                        <h3>Experience</h3><br>
                        @if ((currentUser?.experienceList || []).length>0) {
                        <div *ngFor="let item of currentUser?.experienceList">
                            <p>{{item}}</p>
                        </div>
                        }@else {
                        <p>Add Your Experience..</p>
                        }

                    </div>
                    <div class="about-first-sub-cont-sec">
                        <i class="fas fa-graduation-cap icon-img intro-icons"></i><br>
                        <h3>Education</h3><br>
                        @if ((currentUser?.educationList|| []).length>0) {
                        <div *ngFor="let item of currentUser?.educationList">
                            <p>{{item}}</p>
                        </div>
                        }@else {
                        <p>Add Your Education..</p>
                        }
                    </div>
                </div>
                <div>
                    @if ((currentUser?.aboutMeContentList || []).length>0) {
                    <div *ngFor="let item of currentUser?.aboutMeContentList">
                        <p>{{item}}</p>
                    </div>
                    }@else {
                    <div class="default-about">

                        <p class="default-about-content">Add Your About Details..</p>
                    </div>
                    }
                </div>
                <div class="arrow-down-sec">
                    <span>
                        <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                            fragment="experience"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </div>
            </div>

        </div>
    </section>
    <section id="experience" #experience>
        <div class="experience-container">
            <div class="about-first-sec">
                <span>Explore My</span>
            </div>
            <div class="about-second-sec">
                <span>Experience</span>
            </div><br>

            <div class="experience-wrapper">
                <!-- Loop through experience categories -->
                @if ((currentUser?.experienceCategories || []).length>0) {
                <mat-card *ngFor="let category of currentUser?.experienceCategories" class="experience-card">
                    <mat-card-title>{{ category.title }}</mat-card-title>
                    <mat-card-content>
                        <div *ngFor="let skill of category.skills" class="skill">
                            <i class="fas fa-check-circle"></i> <span class="skill-name">{{ skill.name }}</span>
                            <p>{{ skill.level }}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
                }@else {
                <mat-card class="experience-card">
                    <mat-card-title> Add your Experience</mat-card-title>
                    <mat-card-content>
                        <p class="default-about-content">Add your Technologies..</p>
                    </mat-card-content>
                </mat-card>
                }
            </div>
            <div class="arrow-down-sec">
                <span>
                    <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                        fragment="projects"><i class="fas fa-arrow-down"></i></a>
                </span>
            </div>
        </div>

    </section>
    <section id="projects" #projectsSection>
        <div class="experience-container">
            <div class="about-first-sec">
                <span>Browse My Recent</span>
            </div>
            <div class="about-second-sec">
                <span>Projects</span>
            </div><br>

            <div class="experience-wrapper">
                <!-- Loop through experience categories -->
                @if ((currentUser?.projectCategories || []).length>0) {
                <mat-card *ngFor="let category of currentUser?.projectCategories" class="experience-card">
                    <mat-card-header>
                        <mat-card-title>{{category.title}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{category.des}}</p>
                    </mat-card-content>

                    <div class="intro-buttons">
                        <a mat-stroked-button class="custom-button" [href]="category.gitLink" target="_blank">Github</a>
                        <a class="contact-custom-button" mat-flat-button [href]="category.demoLink" target="_blank">Live
                            Demo</a>
                    </div>
                </mat-card>
                }@else {
                <mat-card class="experience-card">
                    <mat-card-header>
                        <mat-card-title>Add All your projects..</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="default-about-content">Add Description..</p>
                    </mat-card-content>
                </mat-card>
                }
            </div>
            <div class="arrow-down-sec">
                <span>
                    <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']" fragment="contact"><i
                            class="fas fa-arrow-down"></i></a>
                </span>
            </div>
        </div>
    </section>
    <section id="contact" #contactSection>
        <div class="experience-container">
            <div class="about-first-sec">
                <span>Get in Touch</span>
            </div>
            <div class="about-second-sec">
                <span>Contact Me</span>
            </div><br>

            <div class="experience-wrapper">
                <!-- Loop through experience categories -->
                <mat-card class="experience-card">
                    <div class="intro-buttons">
                        <span>
                            <a class="header-title-name" [href]="'mailto:'+(currentUser?.mailTo || 'buddy@gmail.com')">
                                <i class="fas fa-envelope icon-img intro-icons">
                                </i>
                                {{currentUser?.email || 'buddy@gmail.com'}}
                            </a>
                        </span>
                        <span><a class="header-title-name"
                                [ngClass]="currentUser?.linkedInUrl ? 'icon-sec': 'icon-disable'"
                                [href]="currentUser?.linkedInUrl" target="_blank">
                                <i class="fab fa-github icon-img intro-icons" intro-icons></i>
                                {{"LinkedIn"}}
                            </a>
                        </span>
                    </div>
                </mat-card>
            </div>
            <div class="arrow-down-sec">
                <span>
                    <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']" fragment="name">
                        <i class="fas fa-arrow-up"></i>
                    </a>
                </span>
            </div>
        </div>
    </section>
    <section class="footer-sec">
        <div class="footer-title">
            <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']" fragment="about">About</a>
            <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                fragment="experience">Experience</a>
            <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                fragment="projects">Projects</a>
            <a class="header-title-name" [routerLink]="['/portfolio', userName, 'second']"
                fragment="contact">Contact</a>
        </div>
        <div class="footer-title">
            <span>Copyright © 2023 fejin_francis. All Rights Reserved.</span>
        </div>
    </section>
</div>